<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Restaurant!</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
    }

    .profile {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        margin-top: 50px;
    }

    .profile .header {
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    .profile h1 {
        margin: 0;
        color: #333;
    }

    .profile p {
        color: #333;
    }

    .profile h3 {
        color: #333;
    }

    .profile a {
        color: #333;
    }

    .profile p span {
        color: green;
    }

    .profile a {
        color: #333;
    }

    .profile a:hover {
        color: #666;
    }
    .profile p span {
        color: green;
    }
  </style>
</head>
<body>
    <div class="profile">
        <div class="header">
            <h1>Welcome to Our Restaurant!</h1>
            <p>Thank you for signing up with us. We are excited to have you on board!</p>
        </div>
        <h3>Here are a few things you can do:</h3>
        <p><span>&#x2713;</span> View our menu and place an order</p>
        <p><span>&#x2713;</span> View your order history</p>
        <p><span>&#x2713;</span> Update your profile</p>
        <p><span>&#x2713;</span> And more!</p>
        <p>Feel free to explore the platform and let us know if you have any questions.</p>
        <p>If you have any questions or need assistance, please don't hesitate to contact us at <a href="mailto:waititutitus81@gmail.com"><span>Contacts</span></a>
        <p>Thank you!</p>
        <p>Visit our website <a href="https://hotel-restaurant.azurewebsites.net/"><span>here</span></a></p>
    
    </div>

</body>
</html>
